<!DOCTYPE html>
<html>
  <head>
    <title>Inspection Report</title>
  </head>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    * {
      font-size: 0.8rem;
    }

    .container {
      width: 100%;
    }

    h1 {
      text-align: center;
      margin-top: 20px;
      font-size: 1.5rem;
    }

    h3 {
      margin-top: 0;
    }

    p {
      margin-left: 20px;
    }

    img {
      margin: 10px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th {
      background-color: #f2f2f2;
    }

    th,
    td {
      border: 1px solid black;
      padding: 5px;
    }

    /* tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:nth-child(odd) {
      background-color: #ffffff;
    } */

    .text-center {
      text-align: center;
    }

    .text-left {
      text-align: left;
    }

    .text-bold {
      font-weight: bold;
    }

    ol,
    ul {
      padding-inline-start: 20px;
      padding-left: 20px;
    }
  </style>
  <body>
    <div class="container">
      <h3>
        PT. UNGARAN SARI GARMENTS <br />
        SECURITY - UNGARAN
      </h3>

      <h1 class="text-center">LAPORAN PATROLI</h1>

      <table>
        <tbody>
          <tr>
            <th width="120px" class="text-left">TANGGAL</th>
            <td class="text-bold">
              <%= new Date(date).toLocaleString('id-ID', {weekday: 'long', year:
              'numeric', month: 'long', day: '2-digit'}).toUpperCase() %>
            </td>
          </tr>
          <tr>
            <th class="text-left">SHIFT</th>
            <td class="text-bold"><%= shift %> (07:00-08:00)</td>
          </tr>
          <tr>
            <th class="text-left">NAMA PETUGAS</th>
            <td class="text-bold"><%= data[0].User.name %></td>
          </tr>
          <!-- <tr>
            <th class="text-left">JAM PATROLI</th>
            <td class="text-bold">22.00 - 06.00 WIB</td>
          </tr> -->
        </tbody>
      </table>

      <br />

      <table>
        <thead>
          <tr>
            <th>POINT STATION NO</th>
            <th>AREA</th>
            <th>WAKTU</th>
            <th>HASIL PATROLI</th>
            <th>CAPTURE</th>
          </tr>
        </thead>

        <tbody>
          <% data.forEach(el => { %>
          <tr>
            <td class="text-center"><%= el.Station.code %></td>
            <td>
              <ol>
                <% el.Station.Areas.forEach(el => { %>
                <li><%= el.name %></li>
                <% }) %>
              </ol>
            </td>

            <td class="text-center">
              <%= el.createdAt.toLocaleString('id-ID', { timeStyle:
              'short'}).replaceAll('.', ':') %> WIB
            </td>

            <td>
              <ul>
                <% el.result.split(',').forEach(el => { %>
                <li><%= el %></li>
                <% }) %>
              </ul>
            </td>

            <td class="text-center">
              <% el.InspectionImages.forEach(image => { %>
              <img
                src="http://localhost:3000/<%= image.path %>"
                alt="Inspection Image"
                style="width: 120px; height: auto"
              />
              <% }) %>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
